#srm-root {
    background: #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    position: relative;
    width: 100%;
    font-family: inherit;
}

#srm-root .srm-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.srm-right,
.srm-center,
.srm-left {
    display: flex;
    align-items: center;
}

/* לוגו */
.srm-logo {
    height: 28px;
}

.srm-logo img {
    max-height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

/* תפריט */
#srm-root .srm-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

#srm-root .srm-menu li a {
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

#srm-root .srm-menu li a:hover {
    opacity: 0.6;
}

/* פייסבוק */
.srm-facebook {
    display: flex;
    align-items: center;
}

/* המבורגר */
.srm-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* מובייל */
@media (max-width: 768px) {

    .srm-center {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #1E1E1E;
        border-bottom: 1px solid #1E1E1E;
        display: none;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 5;
    }

    #srm-root .srm-menu {
        flex-direction: column;
        gap: 1px;
    }

    .srm-center.active {
        display: block;
    }

    .srm-toggle {
        display: block;
    }

    #srm-root .srm-menu li a {
        margin-right: 20px;
    }
}