.timeline-item {
    display: inline-block;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    background-color: #F7F6F6;
    color: black;
    font-size: medium;
}

.timeline-item-lightgreen {
    background: rgb(231,201,39);
    background: linear-gradient(0deg, rgba(231,201,39,1) 5%, rgba(255,228,80,1) 50%, rgba(231,201,39,1) 95%);
}

.timeline-item-green {
    background: rgb(180,187,70);
    background: linear-gradient(0deg, rgba(180,187,70,1) 5%, rgba(217,226,85,1) 50%, rgba(180,187,70,1) 95%);
}

.timeline-item-darkgreen {
    background: rgb(53,186,36);
    background: linear-gradient(0deg, rgba(53,186,36,1) 5%, rgba(86,224,68,1) 50%, rgba(53,186,36,1) 95%);
}

.timeline-item-first {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.timeline-item-last {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.timeline-popup {
    position: absolute;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 6px;
    border-radius: 4px;
    pointer-events: none;
    z-index: 999;
}

.popup-content {
    padding-bottom: 6px;
}

.popup-month {
    font-weight: bold;
}

.popup-tip {
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, 0.8);
}

/* Responsive styles for mobile devices */

@media screen and (max-width: 767px) {
    .timeline-item {
        padding-inline-start: 1.5px;
        padding-inline-end: 1.5px;
        background-color: #F7F6F6;
        color: black;
        font-size: small;
    }
}

#inat-taxonomy-timeline-canvas {
    background-color: white;
}