.tag-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tag-category-arrow {
    display: inline-block;
    margin-left: 5px;
}

.tag-category-parent {
    color: #111;
    background-color: #f8f9fa;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-left: 5px;
}

.tag-category-child {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #868e96;
    margin-left: 5px;
}